!!!
%html{:lang => "en"}
    %head
        %meta{:name=>"viewport", :content => "width=device-width, initial-scale=1.0", :charset => "UTF-8"}
        %title UUID Link
    %body
        .page-title UUID Link
        %a{href: "/report/#{@top_uuid}"} #{@top_uuid}
        %p
        %a{href: "/d3/treeview/#{@top_uuid}"} CallTree_View
        %p